window#waybar {
  background-color: #203435;
  opacity: 0.95;
  color: #ffffff;
  font-size: 16px;
  font-family: "Symbols Nerd Font Mono", Inter, monospace;
  border-radius: 10px;
}

#image.arch {
  padding: 0 10px;
  background-color: #0e1b1d;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#workspaces button {
  padding: 0 5px;
  border: none;
  background: transparent;
  box-shadow: none;
  font-size: 18px;
  text-shadow: none;
  color: #7a6a3e;
  transition: color 0.2s;
}

#workspaces button.empty {
  color: #514729;
}

#workspaces button.active {
  color: #bba877;
}

#workspaces button.urgent {
  color: #c1523c;
}

.modules-right * {
  padding: 0 2px;
  font-size: 18px;
}

#bluetooth {
  color: #70baff;
}

#bluetooth.off {
  color: #0069cc;
}

#pulseaudio {
  color: #6ecb9e;
}

#pulseaudio.sink.muted {
  color: #31875d;
}

#pulseaudio.source.source-muted {
  color: #31875d;
}

#network {
  color: #6cb8e1;
}

#network.disconnected {
  color: #1f6e98;
}

#battery {
  color: #beffb7;
}

#battery.warning {
  color: #ffea00;
}

#battery.critical {
  color: #c1523c;
}

#backlight {
  color: #cbac24;
}

#clock {
  font-size: 16px;
  letter-spacing: 3px;
  padding-right: 10px;
}

#tray {
  background-color: #384e48;
  padding: 0 10px;
  margin-left: -5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
